<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>The Pea Reddit</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">🌱 Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/submit">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming Soon</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h2>Trending Posts</h2>
            <table class="table people-table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Reactions</th>
                    <th>Upvote</th>
                    <th>Downvote</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.getTotalVotes()}"></td>
                    <td><a href="/upvote">+</a></td>
                    <td><a href="/downvote">-</a></td>
                    <td th:text="${post.getTitle()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>