<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>The Fox Club</title>

        <link rel="stylesheet" href="static/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>

    <body>
        <nav>
            <ul>
                <li>Information</li>
            </ul>
        </nav>
    <h1>Welcome to Programmer Fox Club!</h1>
    <p>Find your fox:</p>
        <form action="/createfox" method="post">
            <p>Name: </p>
            <input type="text" name="name">
            <input type="submit" value="Go!">
        </form>
    <br>
    </body>
</html>