body {
    display: flex;
    width: auto;
    background-image: linear-gradient(to right bottom, #f0ea59, #f1dc4a, #f1ce3c, #f1c02f, #f0b223);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table {
    align-self: center;
    margin: auto;
    width: 60%;
    border-radius: 25px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 2px 2px;
}

th {
    font-family: Verdana;
    color: antiquewhite;
    font-size: 62px;
    text-align: left;
    background-color: black;
    padding: 5px;
}
td {
    font-family: Verdana;
    color: black;
    font-size: 36px;
    text-align: right;
    background-color: antiquewhite;
    padding: 10px;
}