<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My ToDo app</title>
    <link rel="stylesheet" href="/static/styles.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>

</header>
<main>
    <h1>Update todo</h1>
    <br>
    <div class="container">
        <p th:text="'Updating: ' + ${todoTitle}"></p>
        <form th:method="post" th:object="${todoForEdit}">
            <label for="updateTodoText" th:text="'New title:'"></label>
            <input id="updateTodoText" th:field="*{title}" type="text">

            <label for="checkDone">Done</label>
            <input id="checkDone" th:field="*{done}" type="checkbox">

            <label for="checkUrgent">Urgent</label>
            <input id="checkUrgent" th:field="*{urgent}" type="checkbox">

            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <br>
        <a th:href="'/'" class="btn btn-outline-danger">Cancel</a>
    </div>
</main>

<footer>

</footer>
</body>
</html>